.App {
  text-align: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Montserrat";
}

.header {
  background-color: #3d5a80;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 600;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.two-column {
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 80vh;
  gap: 20px;
}

.left-column {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #dadae6;
  height: 100%;
  grid-column: 1 / span 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.right-column {
  border: 1px solid #dadae6;
  border-radius: 20px;
  background-color: white;
  height: 100%;
  grid-column: 2 / span 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.column-header {
  background-color: #3d5a80;
  border-radius: 20px 20px 0 0;
  padding: 20px 10px;
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.column-content {
  padding: 20px;
  color: #3d5a80;
}

.exercise-buttons {
  margin: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
